.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "acquest-script";
   font-style: normal;
   font-weight: 400;
   src: url("./font/acquest-script.woff2") format("woff2");
   font-display: swap;
 } 
 @font-face {
    font-family: "AkayaKanadaka-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/AkayaKanadaka-Regular.ttf") format("ttf");
    font-display: swap;
  } 

  
  html {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden  */
  }
  
  body {
    width: 100%;
    min-height: 100%;
    font-family: "AkayaKanadaka-Regular";
    font-size: calc(10px + 5 * (100vw / 1555));
    line-height: calc(10px + 10 * (100vw / 1555));
    font-weight: 400;
    color: black;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
   color: black;
  }
  p,
  h2,
  h1{
    margin: 0;
  }
  p{
    color: #fff;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .header{
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    
  }
  .header-ul{
    padding: 100px 10% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #CE8126;
    font-weight: bold;
    font-size: calc(20px + 22 * (100vw / 1555));
    padding-bottom: 40%;
  }
  .header-ul__li-a{
    color: #CE8126;
  }
  .header-ul__li-a:hover{
    color: #657;
  }
  .header-ul__li:nth-child(1){
    margin-right: 10px;
  }
  .header-ul__li:nth-child(2){
    margin-right: 10px;
  }
  .header-ul__li:nth-child(3){
    margin-right: 10px;
  }
  .header-ul__li:nth-child(4){
    margin-right: 10px;
  }
  .header__p{
    font-size: calc(20px + 22 * (100vw / 1555));
    font-weight: bold;
    padding-left: 75%;
    color: #fff;
  }
  .main__p{
    padding-right: 12%;
  }
  .header__p:hover{
    color: #657686;
  }
  .main__sections{
    background-color: #657686;
    color: #fff;
    padding: 5%;
    width: 50%;
    font-size: calc(15px + 12 * (100vw / 1555));
    line-height: calc(15px + 19 * (100vw / 1555));
    position: relative;
  }
  .main__buttons{
    width: 30%;
    padding: 5%;
    color: #fff;
    background-color: #CC8022;
    border: none;
    position: absolute;
    top: 150%;
    left: 45%;
  }
  .main__button-h2{
    margin-top: 20px;
    font-size: calc(20px + 22 * (100vw / 1555));
  }
  .svg-button--ton{
    fill: #CC8022;
  }
  .svg-button:hover{
    fill: #657;;
  }
  .footer{
    background-color: #CC8022;
    padding: 50px 5% 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__section-h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: calc(20px + 12 * (100vw / 1555));
  }
  .footer__section-p{
    font-size: calc(15px + 12 * (100vw / 1555));
    line-height: calc(15px + 12 * (100vw / 1555));
    display: flex;
    flex-direction: column;
  }
  .footer__section-a{
    color: #fff;
    margin-bottom: 10px;
  }
  .footer__section-a:hover{
    color: #657686;
  }
  .main__button-h2:hover{
    color: #657686;
  }
  .main__button:hover{
    background-color: #613907;
    color: #657686;
    fill: #657686;
  }
.main-navs{
    background-color: #CC8022;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 2%;
    box-sizing: border-box;
    height: 600px;
    margin-top: 10%;
  }
  .div-modal{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    
  }
  .main-nav--closed{
    display: none;
  }
  .main-nav--opened{
    display: block;
  }
  .madal-h2{
    color: #fff;
    text-align: center;
    font-size: calc(20px + 12 * (100vw / 1555));
    margin-bottom: 50px;
    font-weight: bold;
  }
  .form-group{
    text-align: center;
  }
  .form-control{
    width: 250px;
    margin-bottom: 10px;
    padding: 5px 10px 5px;
  }
  .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .btn-primary{
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #657686;
    color: #fff;
    font-weight: bold;
  }
  .form-control1{
    height: 100px;
  }
  .section-form {
    margin: 0 auto;
    margin-top: 10%;
  }
  .modal-svg{
    fill: #fff;
    left: 60%;
    cursor: pointer;
    position: absolute;
    z-index: 999;
  }
  .modal-svg:hover{
    fill: #657686;
  }
  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 65px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.header-ul__li-a1{
  color: #fff;
}
.header-useful{
  height: 300px;
  background-color: #657686;
}
.main-useful{
  background-color: #657686;
  padding: 100px 10% 100px;
  display: flex;
}
.main-useful__p{
  font-size: calc(20px + 10 * (100vw / 1555));
  line-height: calc(20px + 12 * (100vw / 1555));
}
.main-useful__img{
  width: 50%;
  margin-left: 5%;
}
.footer-div{
  padding: 5%;
  background-color: #fff;
  box-sizing: border-box;
}
.footer-div:hover{
  background-color: #657686;
  color: #fff;
}
.footer-div__p{
  color: #CC8022;
  font-size: calc(15px + 10 * (100vw / 1555));
  font-weight: bold;
}
.footer-div__p:hover{
  color: #fff;
}
.main-catalog{
  background-color: #657686;
  padding: 0 10% 0;
}
.main-catalog__section1{
  color: #fff;
  background-color: #CC8022;
  width: 70%;
  height: 200px;
  margin-right: 5%;
  
}
.main-catalog__divs{
  width: 50%;
  height: 50px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-catalog__p{
  color: #CC8022;
  margin: 10px;
  font-size: calc(15px + 10 * (100vw / 1555));
 
}
.main-catalog__h2{
  font-size: calc(24px + 10 * (100vw / 1555));
  line-height: calc(24px + 10 * (100vw / 1555));
}
.main-catalog__section{
  display: flex;
  padding-bottom: 100px;
}

.main-catalog__section1{
  padding: 20px;
  
}
.main__h2{
  font-size: calc(24px + 10 * (100vw / 1555));
  color: #CC8022;
  text-align: center;
  font-weight: 700;
}
.main-catalog__div{
  display: flex;
  justify-content: center;
}
.product__price{
  color: #fff;
  font-size: calc(24px + 10 * (100vw / 1555));
  font-weight: 700;
  text-align: center;
}
.product__size{
  color: #fff;
  font-size: calc(12px + 10 * (100vw / 1555));
  margin-bottom: 10px;
}
.smart-basket__quantity-item{
  background: #fff;
  font-size: calc(10px + 10 * (100vw / 1555));
  width: 200px;
}
.main__button{
  color: #fff;
  background-color: #CC8022;
  font-size: calc(24px + 5 * (100vw / 1555));
  font-weight: bold;
  width: 200px;
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 10px;
    margin: 20px 0 0;
}
.section-product{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.num-page.num-active{
  color: #CC8022;
}
.display{
  display: none;
}
.smart-basket__close-form {
  background-color: #CC8022;
}
.main-catalog__ul{
  margin-bottom: 0;
  padding-bottom: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
.boody-product{
  background-color: #657686;
}
.main-product{
padding: 100px 5% 100px;
}
.main-product__a{
  color: #fff;
  font-size: calc(20px + 5 * (100vw / 1555));
  
}
.main-product__a:hover{
  color: #CC8022;
}
.main-product__h2{
  margin-top: 100px;
  color: #CC8022;
  font-size: calc(65px + 10 * (100vw / 1555));
  font-weight: bold;
}
.main-product__p{
  margin-top: 50px;
  color: #CC8022;
  font-size: calc(25px + 10 * (100vw / 1555));
  line-height: calc(25px + 10 * (100vw / 1555));
}
.main-product__h3{
  margin-top: 50px;
  color: #CC8022;
  font-size: calc(25px + 10 * (100vw / 1555));
}
.main-product-button{
  background-color: #fff;
  color: #CC8022;
  font-size: calc(15px + 10 * (100vw / 1555));
  padding: 50px 30% 50px;
  
}
.main-product-button:hover{
  color: #657686;
  background-color: #CC8022;
}
.product-svg{
  position: absolute;
  left: 60%;
  top: 15%;
}
.svg-product{
  position: absolute;
  left: 85%;
  top: 120%;
}
.main-product__p--margin{
  margin-bottom: 150px;
}
.main-product{
  padding-right: 5%;
}
  @media(max-width: 1200px){
    .main-product-button {
      background-color: #fff;
      color: #CC8022;
      font-size: calc(15px + 10 * (100vw / 1555));
      padding: 50px 10% 50px;
  }
    .product-svg{
      display: none;
    }
    header{
      background-position: center;
    }
    .header-ul{
      padding-bottom: 80%;
    }
    .header__p {
      padding-left: 65%;
    }
    .main__buttons{
      width: 40%;
      top: 190%;
    }
    .footer__section-h2{
      line-height: calc(15px + 30 * (100vw / 1555));
    }
    .footer-div{
      margin-right: 5%;
    }
    .header-useful{
      height: 100px;
    }
    .svg-catalog{
      display: none;
    }
    .main-catalog__divs{
      display: none;
    }
    .main-catalog__section{
      padding-top: 25%;
      width: 100%;
    }
    .main-catalog__section1{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
    }
    .main-navs {
      width: 50%;
    }
    .modal-svg{
      left: 65%;
    }
  }
  @media(min-width: 768px){
    .header-ul__li:nth-child(6){
      display: none;
    }
  }
  @media(max-width: 768px){
    
    .main-product__p{
      font-size: 15px;
    }
    .svg-product{
      left: 50%;
      top: 150%;
    }
    .header-ul__li:nth-child(1){
      display: none;
    }
    .header-ul__li:nth-child(2){
      display: none;
    }
    .header-ul__li:nth-child(4){
      display: none;
    }
    .header__p{
      display: none;
    }
    .header{
      height: 500px;
    }
    .img-mobile{
      width: 100px;
      height: 100px;
    }
    .header-ul{
      padding-top: 10px;
    }
    .menu__btn{
      top: 65px;
    left: 80%;
    }
    .menu__box{
      width: 100%;
    }
    .main__sections{
      flex-direction: column;
      display: flex;
      width: 100%;
    }
    .main__buttons{
      position: initial;
      width: 100%;
    }
    .main-nav1{
      width: 95%;
    }
    .modal-svg{
      left: 80%;
    }
    .footer {
      flex-direction: column;
    }
    .footer__section-h2 {
      line-height: calc(20px + 12 * (100vw / 1555));
      text-align: center;
  }
  .footer__section{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .main-useful{
    flex-direction: column;
    padding: 20px 10% 20px;
  }
  .main-useful__img {
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }
  .footer-div{
    margin: 0;
    margin-bottom: 20px;
  }
  .main-catalog__h2 {
    font-size: 15px;
    line-height: calc(24px + 10 * (100vw / 1555));
}
.main-catalog__ul{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.header{
  height: 600px;
}
.main-useful__p {
  font-size: 15px;
  padding: 50px 2% 0;
}
.main__section{
  margin-bottom: 50px;
}
.main-navs{
  width: 100%;
}
.main-product__h2{
  font-size: 25px;
}
  }
  
  

