.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "acquest-script";
   font-style: normal;
   font-weight: 400;
   src: url("./font/acquest-script.woff2") format("woff2");
   font-display: swap;
 } 
 @font-face {
    font-family: "AkayaKanadaka-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/AkayaKanadaka-Regular.ttf") format("ttf");
    font-display: swap;
  } 

  
  html {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden  */
  }
  
  body {
    width: 100%;
    min-height: 100%;
    font-family: "AkayaKanadaka-Regular";
    font-size: calc(10px + 5 * (100vw / 1555));
    line-height: calc(10px + 10 * (100vw / 1555));
    font-weight: 400;
    color: black;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
   color: black;
  }
  p,
  h2,
  h1{
    margin: 0;
  }
  p{
    color: #fff;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .header{
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    
  }
  .header-ul{
    padding: 100px 10% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #CE8126;
    font-weight: bold;
    font-size: calc(20px + 22 * (100vw / 1555));
    padding-bottom: 40%;
  }
  .header-ul__li-a{
    color: #CE8126;
  }
  .header-ul__li-a:hover{
    color: #657686;
  }
  .header-ul__li:nth-child(1){
    margin-right: 10%;
  }
  .header-ul__li:nth-child(2){
    margin-right: 10%;
  }
  .header-ul__li:nth-child(3){
    margin-right: 10px;
  }
  .header-ul__li:nth-child(4){
    margin-right: 10px;
  }
  .header__p{
    font-size: calc(20px + 22 * (100vw / 1555));
    font-weight: bold;
    padding-left: 75%;
    color: #fff;
  }
  .main__p{
    padding-right: 12%;
  }
  .header__p:hover{
    color: #657686;
  }
  .main__section{
    background-color: #657686;
    color: #fff;
    padding: 5%;
    width: 50%;
    font-size: calc(15px + 12 * (100vw / 1555));
    line-height: calc(15px + 19 * (100vw / 1555));
    position: relative;
  }
  .main__button{
    width: 30%;
    padding: 5%;
    color: #fff;
    background-color: #CC8022;
    border: none;
    position: absolute;
    top: 150%;
    left: 50%;
  }
  .main__button-h2{
    margin-top: 20px;
    font-size: calc(20px + 22 * (100vw / 1555));
  }
  .svg-button--ton{
    fill: #CC8022;
  }
  .svg-button:hover{
    fill: #657686;
  }
  .footer{
    background-color: #CC8022;
    padding: 50px 10% 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__section-h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: calc(20px + 12 * (100vw / 1555));
  }
  .footer__section-p{
    font-size: calc(15px + 12 * (100vw / 1555));
    line-height: calc(15px + 12 * (100vw / 1555));
    display: flex;
    flex-direction: column;
  }
  .footer__section-a{
    color: #fff;
    margin-bottom: 10px;
  }
  .footer__section-a:hover{
    color: #657686;
  }
  .main__button-h2:hover{
    color: #657686;
  }
  .main__button:hover{
    background-color: #613907;
    color: #657686;
    fill: #657686;
  }
  .modal{
    background-color: #CC8022;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 2%;
    box-sizing: border-box;
    height: 450px;
    margin-top: 10%;
  }
  .div-modal{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    
  }
  .main-nav--closed{
    display: none;
  }
  .main-nav--opened{
    display: block;
  }
  .madal-h2{
    color: #fff;
    text-align: center;
    font-size: calc(20px + 12 * (100vw / 1555));
    margin-bottom: 50px;
    font-weight: bold;
  }
  .form-group{
    text-align: center;
  }
  .form-control{
    width: 250px;
    margin-bottom: 10px;
    padding: 5px 10px 5px;
  }
  .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .btn-primary{
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #657686;
    color: #fff;
    font-weight: bold;
  }
  .form-control1{
    height: 100px;
  }
  .section-form {
    margin: 0 auto;
    margin-top: 10%;
  }
  .modal-svg{
    fill: #fff;
    padding-left: 90%;
    cursor: pointer;
  }
  .modal-svg:hover{
    fill: #657686;
  }

